<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>741267126814-t7i3iijliova6mfs080uc154bf70okmt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.741267126814-t7i3iijliova6mfs080uc154bf70okmt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>741267126814-42sof0k9ih4n39urlb1em8qekh1qencf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBxBId4y7FFyAuicTtEVVFaN31kV_w3iU4</string>
	<key>GCM_SENDER_ID</key>
	<string>741267126814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.foodplan.app</string>
	<key>PROJECT_ID</key>
	<string>foodplan-295412</string>
	<key>STORAGE_BUCKET</key>
	<string>foodplan-295412.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741267126814:ios:fe77e75327ad1e625a8c0f</string>
</dict>
</plist>